# Folders

references/
channels/
optimized_windows/
ber_results/
interference_results/
oob_figures/
simulation_results/
logs/
__pycache__/

# Files

.DS_Store
*.asv
*.mat
*.eps
*.fig
*.zip
*.npy
*.npz
*.ipynb
